@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgb(218, 218, 218);
    font-family: 'Golos Text', sans-serif;
}

h3 {
    font-size: 1rem;
}

img {
    display: block;
    width: 100%;
}

header {
    padding: 10px;
    background-color: rgb(213, 232, 226);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

header nav li {
    display: inline;
}

header a {
    padding: 10px;
    color: black;
}

header img {
    width: 100px;
}

header input {
    padding: 4px 10px;
    border-radius: 20px;
    width: 100px;
}

header i {
    margin-left: 10px;
    font-size: 20px;
}

header i:hover {
    color: rgb(52, 52, 52);
}

main {
    font-family: "june-expt-variable", sans-serif;
    font-variation-settings: "STYL" 0;
}

section {
    margin-bottom: 2rem;
}

.videoframe {
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 50vh;
}

video {
    width: 100%;
}

.flex-item {
    flex: 1;
}

.videoframe {
    overflow: hidden;

}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 12%;
    left: 15%;
    background-color: aliceblue;
    border-radius: 3rem;
}

.bgc-highlights {
    background-color: #E1E1E1;
}

.bgd-joinus {
    background-image: url("Static/Join\ us.webp");
    background-size: cover;
    background-position: right;
}

footer {
    background-color: aliceblue;
}

footer li {
    list-style:none
}

footer li:first-child a {
    font-weight: 900;
    font-size: 1.2rem;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer li::first-line a {
    font-weight: 900;
    font-size: 1.2rem;
}

